/config.h
.DS_Store

build/
DerivedData/

*.xcuserstate
*.xcuserdata
xcuserdata/

*.xccheckout
*.xcscmblueprint

*.ipa
*.dSYM
*.dSYM.zip

*.orig
*.rej
*~

/theos/.theos/
/theos/generated/
/theos/ccache-bin/

*.bak
*.backup
*.tmp
*.swp
*.swo
